.scheduleTable {
    margin: 0;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(7, 2fr);
}

.dayItem {
    padding: 8px 16px;
}

.dayTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.scheduleItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.scheduleColor1 {

}

.scheduleColor2 {

}