.navbar{
    display: flex;
    align-items: center;
    background-color: olivedrab;
    height: 70px;
    justify-content: space-between;
}

.logo{
    margin-left: 20px;
}

.navPanel{
    display: flex;
}