@font-face{

    font-family: 'Verdana';

    src: url('Verdana.ttf');

    font-weight: normal;
    font-style: normal;
}

@font-face{


    font-family: 'Verdana-Bold';

    src: url('Verdana-Bold.ttf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userListPage{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userPage{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pageTitle{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userListPageTitle{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.sortInputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.dropdownTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #333333;
    width: 300px;
    position: relative;
    cursor: pointer;
}

.dropdownTitle img{
    width: 1rem;
    height: 1rem;
}

/*---------------------------------------------------------------------------------------------------------*/


.pageInputs{
    margin-bottom: 40px;
}

.ArticlePage{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArticlePage img{
    padding: 20px;
    width: 700px;
}

.ArticleType{

    font-family: 'Courier New';
    font-size: 24px;
    margin-left: 100px;
    padding: 20px 0;
    align-self: flex-start;
    color: #5A6794;
}

.ArticleTitle{
    align-self: flex-start;
    margin-left: 100px;
    padding: 20px 0;
    font-family: 'Courier New';
    font-weight: 700;
    font-size: 48px;
    color: #1C2135;
}

.ArticleInfo{
    width: 85%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: #5A6794;
}

.ArticleAuthor{
    font-family: 'Courier New';

}

.ArticleDate{
    font-family: 'Courier New';
}

.ArticleText{
    margin: 100px 0;
    font-family: 'Verdana';
    font-size: 24px;
    color: #000000;
}

.editingButton{
    margin: 40px;
    align-self: flex-end;
}

.rectorApeal{
    cursor: pointer;
}